<div class="about">

  <img src="http://codesliced.com/images/hospitally_group2.gif" alt="Our Team" width='190px'>
  <div class="user-directions">Bios below from left to right</div>

  <h3>Anna-Marie Panlilio</h3>
  <p>A San Francisco photographer looking for a junior developer position.</p>

    <div class="bio"><%= link_to "https://github.com/codesliced", :target => "_blank" do %>
    <i class="icon-github-alt"></i> Github <% end %>   |
      <%= link_to "http://www.linkedin.com/in/ampanlilio", :target => "_blank" do %>
    <i class="icon-linkedin-sign"></i> LinkedIn <% end %></div>

  <h3>Daniel Song</h3>
  <p>A recent graduate from USC looking for junior developer positions in California.</p>

  <div class="bio"><%= link_to "https://github.com/danielx328", :target => "_blank" do %>
    <i class="icon-github-alt"></i> Github <% end %> | <%= link_to "http://www.linkedin.com/pub/daniel-song/17/188/7a", :target => "_blank" do %>
       <i class="icon-linkedin-sign"></i> LinkedIn
       <% end %>
  </div>

  <h3>Avi Kaufman</h3>
  <p>A US Army veteran and business school graduate looking for vegetarian restaurant recommendations in Boston.</p>

  <div class="bio"><%= link_to "https://github.com/Ank13", :target => "_blank" do %>
  <i class="icon-github-alt"></i> Github <% end %> | <%= link_to "http://www.linkedin.com/in/avinkaufman", :target => "_blank" do %>    <i class="icon-linkedin-sign"></i> LinkedIn <% end %></div>

  <h3>Rod Levy</h3>
  <p>A former trader living in Chicago with his wife and three kids who is looking to deepen his knowledge of programming.</p>
  <div class="bio"><%= link_to "https://github.com/rodlevy", :target => "_blank" do %>
  <i class="icon-github-alt"></i> Github <% end %> |  <%= link_to "http://www.linkedin.com/pub/rod-levy/6/b25/283", :target => "_blank" do %>    <i class="icon-linkedin-sign"></i> LinkedIn <% end %></div>

  <br/><div class="team-text">
   With no prior programming experience, we learned Ruby, Javascript, jQuery, HTML, CSS, and Ruby on Rails, as well as best practices such as pair programming, testing, agile development, and engineering empathy.
  </div>

</div>


