<div class="datasets">

  <h3>Data sets we used:</h3>

  <div class="links"><%= link_to'http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Inpatient.html', :target => "_blank" do %><i class="icon-external-link"></i>
    Medicare Provider Charge Data: Inpatient (aka 'Chargemaster data')<% end %> <br/>Average charge and actual payment for 100 most frequent diagnosis-related groups (DRG) at 3,337 US hospitals.</div>

  <div class="links"><%= link_to 'https://data.medicare.gov/data/hospital-compare/Patient%20Survey%20Results', :target => "_blank" do %>
      <i class="icon-external-link"></i> Patient Survey Results <% end %> <br/>
      Results from a standardized survey of hospital patients about their experiences during a recent inpatient hospital stay.</div>

  <div class="links"><%= link_to 'https://data.medicare.gov/data/hospital-compare/Readmissions,%20Complications%20&%20Death', :target => "_blank" do %>
    <i class="icon-external-link"></i> Complications: Agency For Healthcare Research And Quality Measures'<% end %> <br/>
    Data on complications. </div>

  <div class="links"><%= link_to 'https://data.medicare.gov/data/hospital-compare/Readmissions,%20Complications%20&%20Death', :target => "_blank" do %>
    <i class="icon-external-link"></i> Outcomes: Hospital Outcome Of Care Measures <% end %><br/>
    What happened after patients with certain conditions received hospital care.</div>

  <h3>Hospital costs in the news:</h3>
    <div class="links"><%= link_to "http://www.nytimes.com/interactive/2013/05/08/business/how-much-hospitals-charge.html?ref=business&_r=1&", :target => "_blank" do %>
      <i class="icon-external-link"></i> New York Times<% end %></div>
    <div class="links"><%= link_to "http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/08/one-hospital-charges-8000-another-38000/", :target => "_blank" do %>
      <i class="icon-external-link"></i> Washington Post<% end %> </div>

    <div class="links"><%= link_to "http://kfor.com/2013/07/08/okc-hospital-posting-surgery-prices-online/", :target => "_blank" do %>
      <i class="icon-external-link"></i> Oklahoma City hospital creates bidding war <% end %>
    </div>
    <div class="links"><%= link_to "http://venturebeat.com/2013/07/05/health-care-consumers-are-in-the-dark-u-k-plan-gives-them-a-flashlight/", :target => "_blank" do %>
      <i class="icon-external-link"></i> Data whose patients die more often<% end %></div>
    <div class="links"><%= link_to "http://www.time.com/time/magazine/article/0,9171,2136864,00.html#ixzz2YgaGmVu2", :target => "_blank" do%>
      <i class="icon-external-link"></i> Bitter Pill: Why Medical Bills Are Killing Us<% end %></div>

</div>
