<title>Hospital Maps</title>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO9Z0tWf75CNdw0ADDoB6MrnX4dm5sRKM&sensor=false">
</script>-->

<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>

  <%= render partial: "about" %>
  <%= render partial: "datasets" %>
  <%= render partial: "wtfacts" %>
  <div class="panel">
      <h3>Procedures</h3>
      <input type="textarea" placeholder="search">
      <select id="procdropdown">
        <% @procedures.each do |procedure| %>
        <option widthvalue="<%= procedure.drg_def %>"><%= procedure.drg_def %></option>
        <% end %>
      </select>
   


<div class="panel">

   

  <div style="clear:both;"></div>
  
      <h3>Patient Surveys</h3>
          <ul>
              <li><a href="#" title="home">Home</a></li>
              <li><a title="about">About</a></li>
          </ul>
   
          <h3>Hospital Outcomes</h3>
          <input type="textarea" placeholder="search">

  <div style="clear:both;"></div>
 
  </div>
  <a class="trigger" href="#">Details</a>
  </div>

</div>

<div id="map-canvas">
</div>

