
<!-- <div id="hospitals"></div> -->
<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>

<%= render partial: "about" %>
<%= render partial: "datasets" %>
<%= render partial: "wtfacts" %>
    
<div class="panel">
  <h1 id="logo"><img src="https://googledrive.com/host/0B9bg70URlInBR00zUW9PYnBWLWM/hospitally-med-blue.png" width="200px"></h1>
  <h2>Top Medical Procedures</h2> 
  <p class="user-directions">Select from list</p>

  <select id="procdropdown" data-placeholder="Choose a Procedure..." class="chzn-select" tabindex="1">
    <option value=""></option>
    <% @procedures.each do |procedure|  %>
      <option value='<%=procedure.drg_def.titleize %>'><%=procedure.drg_def.titleize%></option> 
    <% end  %>
  </select>


  <h3>Map Visualizations</h3>
  <p class="user-directions">Click an icon below</p>
  <div class="visualize big acc"><a href="#" id="acc"><i class="icon-usd"></i></a> <span class="viz-label">Average cost (all procedures)</span></div>

  <div class="visualize big th-up"><a href="#" id="thumbs_up"><i class="icon-thumbs-up"></a></i> <span class="viz-label">Recommended by patients</span></div>
  <div class="visualize big th-down"><a href="#" id="thumbs_down"><i class="icon-thumbs-down"></a></i> <span class="viz-label">Not recommended by patients</span></div>
  <div class="visualize big amb"><a href="#" id="ambulance"><i class="icon-ambulance"></a></i> <span class="viz-label">30-day Readmission Rate</span></div>
  <div class="visualize big ghost"><a href="#" id="mortality"><i class="icon-frown"></a></i> <span class="viz-label">30-day Mortality Rate</span></div>
 



  <div class="visualize"><a href="#" id="clear">Clear</a></div>

  <div class="static_links">
    <div id="wtfacts"><h3><%= link_to "About this site", '#' %></h3></div>
    <div id="datasets"><h3><%= link_to "About the data", '#' %></h3></div>
    <div id="about"><h3><%= link_to "About us", '#' %></h3></div>
  </div>

</div>

  <div id="searchby">
    <a class="trigger" href="#">search by</a>
  </div>

  <div id="analytics">
    <a class="trigger2" href="#">analytics</a>
  </div>

  <div class="slidepanel">
    <em>Good detailed info</em>
  </div>

<div id="search-box">
<input id="target" type="text" placeholder="Search hospital or location">
</div>

<div id="popup"></div>

<div id="map-canvas">
</div>

