<title>Hospital Maps</title>

<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>

<%= render partial: "about" %>
<%= render partial: "datasets" %>
<%= render partial: "wtfacts" %>

<div class="panel">
  <em>Procedures</em>

  <select id="procdropdown" data-placeholder="Choose a Procedure..." class="chzn-select" style="width:250px;" tabindex="1">
    <option value=""></option>
    <% @procedures.each do |procedure|  %>
      <option value='<%=procedure.drg_def %>'><%=procedure.drg_def%></option>
    <% end %>
  </select>

  <div class="panel">

    <div style="clear:both;"></div>

    <h3>Patient Surveys</h3>

    <h3>Hospital Outcomes</h3>
        
    <div style="clear:both;"></div>

    <a class="trigger" href="#">Details</a>
  </div>
</div>

<div id="map-canvas">
</div>

