<title>Hospital Maps</title>

<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>

<%= render partial: "about" %>
<%= render partial: "datasets" %>
<%= render partial: "wtfacts" %>

<div class="panel">
  <em>Procedures</em>

  <select id="procdropdown" data-placeholder="Choose a Procedure" class="chzn-select" style="width:150px;" tabindex="1">
    <option value=""></option>
    <% @procedures.each do |procedure|  %>
      <option value='<%=procedure.drg_def %>'><%=procedure.drg_def%></option>
    <% end %>
  </select>

  <div style="clear:both;"></div>

  <h3>Patient Surveys</h3>

  <h3>Hospital Outcomes</h3>
      
  <div style="clear:both;"></div>

</div>

<div class="searchby">
  <a class="trigger" href="#">search by</a>
</div>

<div class="analytics">
  <a class="trigger2" href="#">analytics</a>
</div>

<div class="slidepanel">
  <em>Good detailed info</em>
</div>

<div class="static">
</div>

<div id="map-canvas">
</div>

