<title>Hospital Maps</title>

<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>


<%= render partial: "about" %>
<%= render partial: "datasets" %>
<%= render partial: "wtfacts" %>

<div class="panel">
  <h3>Top 100 most frequently billed medical procedures</h3> 

  <select id="procdropdown" data-placeholder="Choose a Procedure..." class="chzn-select" tabindex="1">
    <option value=""></option>
    <% @procedures.each do |procedure|  %>
      <option value='<%=procedure.drg_def.titleize %>'><%=procedure.drg_def.titleize%></option> 
    <% end  %>
  </select>

  <h3>Patient Surveys</h3>

  <h3>Hospital Outcomes</h3>


  <h3>Map Visualizations</h3>
  <a href="#" id="acc">Average Cost (all procedures)</a>
  <a href="#" id="clear">Clear</a>
      
      
  <div style="clear:both;"></div>

</div>

<div class="searchby">
  <a class="trigger" href="#">search by</a>
</div>

<div class="analytics">
  <a class="trigger2" href="#">analytics</a>
</div>

<div class="slidepanel">
  <em>Good detailed info</em>
</div>

<div class="static">
</div>

<div id="search-box">
      <input id="target" type="text" placeholder="Search hospital or location">
</div>

<div id="map-canvas">
</div>

