
<!-- <div id="hospitals"></div> -->
<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>

<%= render partial: "about" %>
<%= render partial: "datasets" %>
<%= render partial: "wtfacts" %>
    
<div class="panel">
  <div id="logo"><img src="https://googledrive.com/host/0B9bg70URlInBR00zUW9PYnBWLWM/hospitally-red.png"></div>
  <div class="start">
  <h2>Top Medicare Procedures</h2> 
  <div class="user-directions">Select from dropdown to compare charges</div>

  <select id="procdropdown" data-placeholder="Choose a Procedure..." class="chzn-select" tabindex="1">
    <option value=""></option>
    <% @procedures.each do |procedure|  %>
      <option value='<%=procedure.drg_def.titleize %>'><%=procedure.drg_def.titleize%></option> 
    <% end  %>
  </select>
</div>
<div class="bubble-menu">
  <h3>Bubble Visualizations</h3>

  <div class="user-directions">Click below to compare hospitals on the map</div>

  <a href="#" id="acc"><div class="visualize big acc" title="Show average cost of care of all procedures by hospital. Larger cirlces are more expensive."><span class="viz-icon"><i class="icon-tag"></i></span> <span class="viz-label">Average price (all procedures)</span></div></a>

  <a href="#" id="thumbs_up" title="Show % of responses who would recommend the hospital to any degree. Larger circles are better."><div class="visualize big th-up"><span class="viz-icon"><i class="icon-thumbs-up"></i></span> <span class="viz-label">Recommended by patients</span></div></a>

  <a href="#" id="thumbs_down" title="Show % of responses who would not recommend the hospital. Smaller circles are better."><div class="visualize big th-down"><span class="viz-icon"><i class="icon-thumbs-down"></i></span> <span class="viz-label">Not recommended by patients</span></div></a>

  <a href="#" id="readmission" title="Show rate of readmission for tracked population. Smaller bubbles are better."><div class="visualize big amb"><span class="viz-icon"><i class="icon-ambulance"></i></span> <span class="viz-label">30-day re-admission Rate</span></div></a>

  <a href="#" id="mortality" title="Show rate of mortality for tracked population. Smaller bubbles are better."><div class="visualize big ghost"><span class="viz-icon"><i class="icon-frown"></i></span> <span class="viz-label">30-day Mortality Rate</span></div></a>

  <a href="#" id="clear" title="Clear bubbles and prices from the map."><div class="visualize big clearAll"><span class="viz-icon"><i class="icon-ban-circle"></i></span> <span class="viz-label">Clear the map</span></div></a>

</div>
  <div class="static_links">
    <div id="wtfacts" class="debris"><%= link_to "About Hospitally", '#' %></div>
    <div id="datasets" class="debris"><%= link_to "About the data", '#' %></div>
    <div id="about" class="debris"><%= link_to "About us", '#' %></div>
  </div>

</div>

  <div id="searchby">
    <a class="trigger" href="#"><!-- search by --></a>
  </div>

  <div id="analytics">
    <a class="trigger2" href="#"><!-- analytics --></a>
  </div>

  <div class="slidepanel">

  </div>

<div id="search-box">
<input id="target" type="text" placeholder="Search hospital or location">
</div>

<div id="popup">
</div>

<div id="map-canvas">
</div>

